In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("tickets.csv")
df.head(2)

,ticket_id,client,service,logged_date,status,time_spent,assignee,logger
0,1000,D,D1,2024-12-24 06:16:00 UTC,awaiting_response,2,member4,user4
1,1001,E,A1,2024-12-28 02:31:00 UTC,awaiting_response,8,member3,user2

In [3]:
df.dtypes

ticket_id       int64
client         object
service        object
logged_date    object
status         object
time_spent      int64
assignee       object
logger         object
dtype: object

In [4]:
df['logged_date'] = pd.to_datetime(df['logged_date'], format="%Y-%m-%d %H:%M:%S UTC")
df.dtypes

ticket_id               int64
client                 object
service                object
logged_date    datetime64[ns]
status                 object
time_spent              int64
assignee               object
logger                 object
dtype: object

In [5]:
df = df.sort_values(by='logged_date').reset_index(drop=True)
df.head()

,ticket_id,client,service,logged_date,status,time_spent,assignee,logger
0,1879,A,F1,2024-12-20 16:24:00,awaiting_response,8,member1,user1
1,1577,A,B1,2024-12-20 17:03:00,awaiting_response,4,member2,user2
2,1387,B,B1,2024-12-20 17:20:00,closed,4,member2,user3
3,1167,E,C1,2024-12-20 17:28:00,closed,1,member4,user3
4,1801,A,F1,2024-12-20 17:38:00,assigned,4,member1,user3