In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("mobile_usage_behavioral_analysis.csv")
df.head()

,User_ID,Age,Gender,Total_App_Usage_Hours,Daily_Screen_Time_Hours,Number_of_Apps_Used,Social_Media_Usage_Hours,Productivity_App_Usage_Hours,Gaming_App_Usage_Hours,Location
0,1,56,Male,2.61,7.15,24,4.43,0.55,2.40,Los Angeles
1,2,46,Male,2.13,13.79,18,4.67,4.42,2.43,Chicago
2,3,32,Female,7.28,4.50,11,4.58,1.71,2.83,Houston
3,4,25,Female,1.20,6.29,21,3.18,3.42,4.58,Phoenix
4,5,38,Male,6.31,12.59,14,3.15,0.13,4.00,New York

In [ ]:
# lets come up with some questions with this dataset
# 1. What age group in grous of 10 or 5 who are the highest users of mobile phones?
# 2. Which Locations top in Social media, Productivity  and Gaming App usages?
# 3. Which age groups top in daily Screen time per Location?