### Focussing on data cleaning tis and tricks

In [2]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv("real-estate-india.csv")
df.head()

,Name,Property Title,Price,Location,Total_Area,Price_per_SQFT,Description,Baths,Balcony
0,Casagrand ECR 14,"4 BHK Flat for sale in Kanathur Reddikuppam, C...",₹1.99 Cr,"Kanathur Reddikuppam, Chennai",2583,7700.0,Best 4 BHK Apartment for modern-day lifestyle ...,4,Yes
1,"Ramanathan Nagar, Pozhichalur,Chennai",10 BHK Independent House for sale in Pozhichal...,₹2.25 Cr,"Ramanathan Nagar, Pozhichalur,Chennai",7000,3210.0,Looking for a 10 BHK Independent House for sal...,6,Yes
2,DAC Prapthi,"3 BHK Flat for sale in West Tambaram, Chennai",₹1.0 Cr,"Kasthuribai Nagar, West Tambaram,Chennai",1320,7580.0,"Property for sale in Tambaram, Chennai. This 3...",3,No
3,"Naveenilaya,Chepauk, Triplicane,Chennai",7 BHK Independent House for sale in Triplicane...,₹3.33 Cr,"Naveenilaya,Chepauk, Triplicane,Chennai",4250,7840.0,Entire Building for sale with 7 units of singl...,5,Yes
4,VGN Spring Field Phase 1,"2 BHK Flat for sale in Avadi, Chennai",₹48.0 L,"Avadi, Chennai",960,5000.0,"Property for sale in Avadi, Chennai. This 2 BH...",3,Yes

Here, at the first glance we can see,
1) We need to extract BHK from the "Property Title" column and make it as a seperate column,

2) For few rows we have same "Name" in name and "Location" columns, which needs to be sorted out

3) Property Type column should be made from the data present in Property Title column,

4) Then, The "Price" column are in strings which should be converted to numerical values,

5) City names should be xtracted and made into a seperate column.

In [4]:
# Duplicating the data frame to deal with errors later
df2 = df

In [6]:
df2.shape

(14528, 9)

In [7]:
len(df2)

14528

In [8]:
# Capturing BHK values in a seperate list
BHK = []
for i in range(0, len(df2)):
    BHK.append(df2["Property Title"][i][:2])

# Assigning the list to a new column called "Bedrooms"
df2["Bedrooms"] = BHK

In [12]:
df2["Bedrooms"].head(), df2["Bedrooms"].describe()

(0    4
 1    10
 2    3
 3    7
 4    2
 Name: Bedrooms, dtype: object,
 count     14528
 unique       20
 top          2
 freq       5691
 Name: Bedrooms, dtype: object)

In [20]:
# Replacing the errors, misspelt, or unwanted symbols in the 'Bedroom' column
df2["Bedrooms"] = df2["Bedrooms"].str.replace(".","")
df2["Bedrooms"] = df2["Bedrooms"].str.replace("+","")
df2["Bedrooms"] = df2["Bedrooms"].str.replace("St","")
df2["Bedrooms"] = df2["Bedrooms"].str.replace("","")

# lets duplicate the Dataframe one more time
df3 = df2

In [21]:
df3["Bedrooms"].value_counts()

Bedrooms
2     5691
1     3270
3     3132
4      990
5      438
6      296
10     200
7      143
8      132
9       78
3       44
1       30
2       30
5       24
        11
4       10
9        4
8        2
7        2
Sh       1
Name: count, dtype: int64