In [1]:
# !pip install kagglehub

### Loading the dataset from kagglehub

In [2]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("grouplens/movielens-20m-dataset")

print("Path to dataset files:", path)

/home/ravik/src_git/learn_ds/.conda/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Path to dataset files: /home/ravik/.cache/kagglehub/datasets/grouplens/movielens-20m-dataset/versions/1

In [3]:
import pandas as pd

In [4]:
# movies_path = "C:\\Users\\kumar\\.cache\\kagglehub\\datasets\\grouplens\\movielens-20m-dataset\\versions\\1\\movie.csv"
# ratings_path = "C:\\Users\\kumar\\.cache\\kagglehub\\datasets\\grouplens\\movielens-20m-dataset\\versions\\1\\rating.csv"

movies_path = "/home/ravik/.cache/kagglehub/datasets/grouplens/movielens-20m-dataset/versions/1/movie.csv"
ratings_path = "/home/ravik/.cache/kagglehub/datasets/grouplens/movielens-20m-dataset/versions/1/rating.csv"

In [5]:
# Load the datasets
movies = pd.read_csv(movies_path)
ratings = pd.read_csv(ratings_path)

In [6]:
# Display the first few rows of each datasets to understand the structure.
print("Movies data:")
movies.head()

Movies data:

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [7]:
print("Ratings data:")
ratings.head()

Ratings data:

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [8]:
# Check for missing values on both datasets
print("Missing values in movies dataset:\n", movies.isnull().sum())
print("Missing valies in ratings dataset:\n", ratings.isnull().sum())

Missing values in movies dataset:
 movieId    0
title      0
genres     0
dtype: int64
Missing valies in ratings dataset:
 userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [9]:
# Check basic statistics in ratings dataset (eg. rating distribution)
print("Ratings Summary:\n")
print(ratings['rating'].describe())

Ratings Summary:

count    2.000026e+07
mean     3.525529e+00
std      1.051989e+00
min      5.000000e-01
25%      3.000000e+00
50%      3.500000e+00
75%      4.000000e+00
max      5.000000e+00
Name: rating, dtype: float64

#### Using other libraries to explore datasets.

In [10]:
# !pip install pydantic-settings ydata_profiling

In [11]:
import pandas as pd
from ydata_profiling import ProfileReport  # this needs numpy==2.0

In [12]:
# loading datasets is done earlier. movies & ratings

# generate a profile report for each dataset
movies_report = ProfileReport(movies, title="Movies Dataset Report", explorative=True)
ratings_report = ProfileReport(ratings, title="Ratings Dataset Report", explorative=True)

In [13]:
# Save reports as HTML files for easy viewing
movies_report.to_file("movies_report.html")
ratings_report.to_file("ratings_report.html")

Summarize dataset: 100%|██████████| 13/13 [00:00<00:00, 28.37it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:00<00:00,  1.46it/s]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  8.21it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 448.88it/s]
Summarize dataset:  77%|███████▋  | 17/22 [02:24<00:07,  1.49s/it, Missing diagram matrix]   /home/ravik/src_git/learn_ds/.conda/lib/python3.11/site-packages/matplotlib/image.py:181: UserWarning: Data with more than 2**24 rows cannot be accurately displayed. Downsampling to less than 2**24 rows before displaying. To remove this warning, manually downsample your data.
  warnings.warn(msg.format(n='2**24 rows'))
Summarize dataset: 100%|██████████| 22/22 [02:40<00:00,  7.30s/it, Completed]
Generate report structure: 100%|██████████| 1/1 [00:00<00:00,  2.04it/s]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  7.96it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 413.84it/s]

##### We will use SweetWiz for exploring the dataset

In [14]:
# We need to download latest numpy for this.

In [15]:
# !pip install sweetviz

In [16]:
# !pip uninstall numpy

In [17]:
import numpy as np
import sweetviz as sv

In [18]:
# generate a report for each dataset
movies_report = sv.analyze(movies)
ratings_report = sv.analyze(ratings)

Done! Use 'show' commands to display/save.   |██████████| [100%]   00:00 -> (00:00 left)
Done! Use 'show' commands to display/save.   |██████████| [100%]   00:00 -> (00:00 left)

In [19]:
# Display or save the reports
movies_report.show_html("movies_sweetviz_report.html")
ratings_report.show_html("ratings_sweetviz_report.html")

Report movies_sweetviz_report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.
Report ratings_sweetviz_report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

### Step 2: Preprocess the data

In [20]:
import pandas as pd
from sklearn.preprocessing import MultiLabelBinarizer

gio: file:///home/ravik/src_git/learn_ds/practice/movie_recommendation_system/movies_sweetviz_report.html: Failed to find default application for content type ‘text/html’
gio: file:///home/ravik/src_git/learn_ds/practice/movie_recommendation_system/ratings_sweetviz_report.html: Failed to find default application for content type ‘text/html’

In [21]:
# Load datasets, whis is done. movies, ratings
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [22]:
ratings.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [23]:
# Step 1: Data cleaning
# Data cleaning
movies.dropna(inplace=True)
ratings.dropna(inplace=True)

In [24]:
# Remove duplicates
movies.drop_duplicates(inplace=True)
ratings.drop_duplicates(inplace=True)

In [25]:
# Step 2: Feature Engineering
# One-hot encoding for genres 
# Split the genres bt '|' and create a list for each row
movies['genres'] = movies['genres'].apply(lambda x: x.split('|') if isinstance(x, str) else [])
mlb = MultiLabelBinarizer()
genres_encoded = mlb.fit_transform(movies['genres'])
genres_df = pd.DataFrame(genres_encoded, columns=mlb.classes_)
movies = pd.concat([movies, genres_df], axis=1)

In [26]:
# aggregate ratings data
ratings_summary = ratings.groupby('movieId').agg(
    avg_rating=('rating', 'mean'),
    rating_count=('rating', 'size')
).reset_index()

In [27]:
# merged aggregated ratings with movies dataset
movies = movies.merge(ratings_summary, on='movieId', how='left')

In [28]:
movies.head()

,movieId,title,genres,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,...,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,avg_rating,rating_count
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,3.921240,49695.0
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]",0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,3.211977,22243.0
2,3,Grumpier Old Men (1995),"[Comedy, Romance]",0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,3.151040,12735.0
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]",0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,2.861393,2756.0
4,5,Father of the Bride Part II (1995),[Comedy],0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,3.064592,12161.0

In [29]:
# Step 3: Text PreProcessing (for content-based recommendation)
# Standardize movie titles
movies['title'] = movies['title'].str.lower().str.strip()

In [30]:
# Example of handling text data (if a synopsis column were available)
# from sklearn.feature_extraction.text import TfidfVectorizer
# tfidf = TfidfVectorizer(stop_words='english')
# tfidf_matrix = tfidf.fit_transform(movies['synopsis'])  # assuming 'synopsis' column exists

# Final cleaned and preprocessed movies DataFrame
print(movies.head())

   movieId                               title  \
0        1                    toy story (1995)
1        2                      jumanji (1995)
2        3             grumpier old men (1995)
3        4            waiting to exhale (1995)
4        5  father of the bride part ii (1995)

                                              genres  (no genres listed)  \
0  [Adventure, Animation, Children, Comedy, Fantasy]                   0
1                     [Adventure, Children, Fantasy]                   0
2                                  [Comedy, Romance]                   0
3                           [Comedy, Drama, Romance]                   0
4                                           [Comedy]                   0

   Action  Adventure  Animation  Children  Comedy  Crime  ...  IMAX  Musical  \
0       0          1          1         1       1      0  ...     0        0
1       0          1          0         1       0      0  ...     0        0
2       0          0          0         0       1      0  ...     0        0
3       0          0          0         0       1      0  ...     0        0
4       0          0          0         0       1      0  ...     0        0

   Mystery  Romance  Sci-Fi  Thriller  War  Western  avg_rating  rating_count
0        0        0       0         0    0        0    3.921240       49695.0
1        0        0       0         0    0        0    3.211977       22243.0
2        0        1       0         0    0        0    3.151040       12735.0
3        0        1       0         0    0        0    2.861393        2756.0
4        0        0       0         0    0        0    3.064592       12161.0

[5 rows x 25 columns]

### Step 3: Choose and Implement the Recommendation Algorithm

#### Step 3.1: Content-Based Filtering with Cosine Similarity

In [31]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

In [32]:
# Compute cosing similarity on genres
genre_matrix = movies[mlb.classes_].values # using the genre columns from step 2
cosine_sim = cosine_similarity(genre_matrix, genre_matrix)

In [33]:
# Function to get content-based recommendations
def content_based_recommendations(movie_title, movies_df, cosine_sim_matrix, top_n=10):
    # Find the index of the movie
    movie_idx = movies_df[movies_df['title'] == movie_title.lower()].index[0]
    # Get similarity scores for all movies
    sim_scores = list(enumerate(cosine_sim_matrix[movie_idx]))
    # Sort by similarity score
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    # Get the top_n movies (excluding the movie itself)
    sim_scores = sim_scores[1:top_n+1]
    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]
    # Return the top_n similar movies
    return movies_df.iloc[movie_indices][['title', 'avg_rating', 'rating_count']]

In [ ]:
# Example usage
print("Content-Based Recommendations:")
# print(content_based_recommendations("Toy Story", movies, cosine_sim))

Content-Based Recommendations:

:

#### Step 3.2: Collaborative Filtering with SVD

In [ ]:
from sklearn.decomposition import TruncatedSVD
from scipy.sparse import csr_matrix

# Create a user-item ratings matrix
user_item_matrix = ratings.pivot(index='userId', columns='movieId', values='rating').fillna(0)
user_item_sparse = csr_matrix(user_item_matrix)

# Perform SVD
svd = TruncatedSVD(n_components=50)
latent_matrix = svd.fit_transform(user_item_sparse)

# Function to get collaborative filtering recommendations
def collaborative_recommendations(user_id, movies_df, user_item_matrix, latent_matrix, top_n=10):
    user_index = user_id - 1  # assuming user IDs are 1-indexed
    user_ratings = latent_matrix[user_index]
    movie_scores = user_item_matrix.dot(user_ratings)
    # Get the top_n movies with highest predicted scores
    movie_indices = np.argsort(movie_scores)[::-1][:top_n]
    return movies_df[movies_df['movieId'].isin(movie_indices)][['title', 'avg_rating', 'rating_count']]

# Example usage
print("Collaborative Filtering Recommendations:")
print(collaborative_recommendations(1, movies, user_item_matrix, latent_matrix))

/tmp/ipykernel_15175/1665563870.py:5: PerformanceWarning: The following operation may generate 3703856792 cells in the resulting pandas object.
  user_item_matrix = ratings.pivot(index='userId', columns='movieId', values='rating').fillna(0)