In [1]:
!pip install kagglehub

Collecting kagglehub
  Downloading kagglehub-0.3.4-py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: packaging in d:\src_git\learn_ds\.venv\lib\site-packages (from kagglehub) (24.1)
Requirement already satisfied: requests in d:\src_git\learn_ds\.venv\lib\site-packages (from kagglehub) (2.32.3)
Requirement already satisfied: tqdm in d:\src_git\learn_ds\.venv\lib\site-packages (from kagglehub) (4.67.0)
Requirement already satisfied: charset-normalizer<4,>=2 in d:\src_git\learn_ds\.venv\lib\site-packages (from requests->kagglehub) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in d:\src_git\learn_ds\.venv\lib\site-packages (from requests->kagglehub) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in d:\src_git\learn_ds\.venv\lib\site-packages (from requests->kagglehub) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in d:\src_git\learn_ds\.venv\lib\site-packages (from requests->kagglehub) (2024.8.30)
Requirement already satisfied: colorama in d:\src_git\learn_ds\.venv\lib\site-packages (from tqdm->kagglehub) (0.4.6)
Downloading kagglehub-0.3.4-py3-none-any.whl (43 kB)
Installing collected packages: kagglehub
Successfully installed kagglehub-0.3.4

### Loading the dataset from kagglehub

In [2]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("grouplens/movielens-20m-dataset")

print("Path to dataset files:", path)

d:\src_git\learn_ds\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Downloading from https://www.kaggle.com/api/v1/datasets/download/grouplens/movielens-20m-dataset?dataset_version_number=1...

100%|██████████| 195M/195M [00:14<00:00, 13.8MB/s]

Extracting files...

Path to dataset files: C:\Users\kumar\.cache\kagglehub\datasets\grouplens\movielens-20m-dataset\versions\1

In [3]:
import pandas as pd

In [4]:
movies_path = "C:\\Users\\kumar\\.cache\\kagglehub\\datasets\\grouplens\\movielens-20m-dataset\\versions\\1\\movie.csv"
ratings_path = "C:\\Users\\kumar\\.cache\\kagglehub\\datasets\\grouplens\\movielens-20m-dataset\\versions\\1\\rating.csv"

In [5]:
# Load the datasets
movies = pd.read_csv(movies_path)
ratings = pd.read_csv(ratings_path)

In [6]:
# Display the first few rows of each datasets to understand the structure.
print("Movies data:")
movies.head()

Movies data:

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [7]:
print("Ratings data:")
ratings.head()

Ratings data:

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [9]:
# Check for missing values on both datasets
print("Missing values in movies dataset:\n", movies.isnull().sum())
print("Missing valies in ratings dataset:\n", ratings.isnull().sum())

Missing values in movies dataset:
 movieId    0
title      0
genres     0
dtype: int64
Missing valies in ratings dataset:
 userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [10]:
# Check basic statistics in ratings dataset (eg. rating distribution)
print("Ratings Summary:\n")
print(ratings['rating'].describe())

Ratings Summary:

count    2.000026e+07
mean     3.525529e+00
std      1.051989e+00
min      5.000000e-01
25%      3.000000e+00
50%      3.500000e+00
75%      4.000000e+00
max      5.000000e+00
Name: rating, dtype: float64